@use '../helpers' as *;

.theme-90s {
  // Background
  --color-bg-main: #a1b28c;
  --color-bg-panel: #5a6863;
  --color-bg-highlight: #762e38;
  --color-bg-pixel-board: #7e8183;
  --color-bg-accent-button: #8f8f86;

  // Text
  --color-text-primary: #51504a;
  --color-text-secondary: #f0f0c0;
  --color-text-muted: #b8b8b8;

  // Links
  --color-link-primary: #f0c000;

  // Pixels
  --color-pixel-yellow: #ffd21f;
  --color-pixel-purple: #9448c6;
  --color-pixel-blue: #3596f7;
  --color-pixel-red: #d34242;

  //padding
  --padding: #{rem(10)};

  // Borders
  --border-color: #546946;
  --border-width: #{rem(4)};
  --border-radius: 2px;

  // Shadows
  --shadow-soft: 1px 1px 0 #777;
  --shadow-pressed: inset 2px 2px 0 #333;

  // Divider
  --divider-color: #444;

  // Typography
  --font-family-main: 'Press Start 2P', monospace;
  --font-family-secondary: 'VT323', monospace;
  --font-size-base: 14px;
  --font-size-heading: 18px;
  --font-size-small: 12px;
  --letter-spacing-retro: 0.05em;

  //background-image
  --background-image: url('/src/assets/images/backgrounds/repeating_computer_tile.png');

  //transition
  --transition: all 0.3s ease;
}
